### Створити програму, яка виконує наступні завдання, використовуючи файл відповідно до варіанту:

### 1. Читає файл та змінює назви стовпців.

In [1]:
import pandas as pd

In [15]:
data = pd.read_excel('Version 1.xlsx', index_col = 'date', parse_dates = True, usecols = ['date', 'meantemp', 'humidity', 'wind_speed', 'meanpressure'])
data

                      meantemp    humidity          wind_speed  meanpressure
date
2013-01-01                10.0   84.500000                 0.0   1015.666667
2013-01-02                 7.4   92.000000                2.98   1017.800000
2013-01-03   7.166666666666667   87.000000   4.633333333333334   1018.666667
2013-01-04   8.666666666666666   71.333333  1.2333333333333334   1017.166667
2013-01-05                 6.0   86.833333  3.6999999999999997   1016.500000
...                        ...         ...                 ...           ...
2016-12-28  17.217391304347824   68.043478   3.547826086956522   1015.565217
2016-12-29  15.238095238095237   87.857143                 6.0   1016.904762
2016-12-30  14.095238095238095   89.666667   6.266666666666667   1017.904762
2016-12-31  15.052631578947368   87.000000               7.325   1016.100000
2017-01-01                10.0  100.000000                 0.0   1016.000000

[1472 rows x 4 columns]

In [16]:
data.dtypes

meantemp         object
humidity        float64
wind_speed       object
meanpressure    float64
dtype: object

In [24]:
data.describe()

          humidity  meanpressure
count  1470.000000   1469.000000
mean     60.816644   1011.042647
std      16.912870    179.803098
min     -31.571429     -3.041667
25%      50.500000   1001.500000
50%      62.699248   1008.500000
75%      72.276786   1014.875000
max     100.000000   7679.333333

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1472 entries, 2013-01-01 to 2017-01-01
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   meantemp      1469 non-null   object
 1   humidity      1470 non-null   float64
 2   wind_speed    1465 non-null   object
 3   meanpressure  1469 non-null   float64
dtypes: float64(2), object(2)
memory usage: 57.5+ KB

### 2. Знаходить проблеми з даними та виконує попередню обробку даних для усунення цих проблем.